@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;400;700;800&display=swap");

/* TO DO
- app status
- style focusing on elements
- animations 
- hovering on buttons 
*/

body {
  margin: 0;
  background-color: #ffffff;
  transition: background-color 2s ease;
}

.website-title {
  display: block;
  width: 320px;
  margin: 50px auto 0 auto;
  font-family: "Overpass", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 20px;
}

/* Navigation */

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.input {
  width: 200px;
  border: none;
  border-bottom: 2px solid #000000;
  background-color: transparent;
  font-family: "Overpass", sans-serif;
}

::placeholder {
  color: #000000;
}

.btn {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Overpass", sans-serif;
  font-weight: 300;
  cursor: pointer;
}

.btn-temp {
  width: 18px;
  margin: 0 5px;
}

.btn-temp-active {
  font-weight: 800;
}

.geolocation-btn {
  margin: 0 20px;
}

.separator {
  height: 20px;
  border-left: 1.25px solid #000000;
}

/* Content */
.main-content {
  font-family: "Overpass", sans-serif;
  display: none;
  flex-direction: column;
  text-align: center;
  margin-top: 80px;
}

.conditions-item {
  margin: 0;
  font-weight: 800;
}

.location-name {
  font-size: 30px;
  margin-bottom: 30px;
}

.uv-index-value {
  font-size: 120px;
  line-height: 120px;
}

.uv-index-label {
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.current-weather-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 90px;
}

.weather-item {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 10px;
  margin-right: 20px;
}

.weather-item:first-child {
  margin-top: 5px;
}

.weather-item:nth-last-child(-n + 2) {
  align-items: flex-end;
  justify-content: flex-start;
  margin-right: 0;
  margin-left: 20px;
}

.weather-item-icon {
  height: 30px;
  width: 30px;
}
.weather-item-value {
  height: 20px;
  margin: 0 0 0 10px;
  font-size: 20px;
  font-weight: 700;
  width: 52px;
}

/* Forecast */

.uv-forecast__forecast-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.btn-forecast-mode {
  font-size: 20px;
  font-weight: 700;
  margin: 0 10px;
}

.btn-forecast-mode-active {
  text-decoration: underline;
}

.btn-forecast-mode:hover {
  background: linear-gradient(#e66465, #9198e5);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.forecast-content {
  margin-top: 25px;
}

.forecast-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 600px;
  font-family: "Overpass", sans-serif;
  font-weight: 700;
  font-size: 16px;
  margin: 10px 0;
}

.forecast-hour {
  text-align: left;
  width: 50px;
}
.weekday {
  text-align: left;
  width: 30px;
}

.daily-temp {
  width: 100px;
}

.hourly-temp {
  width: 60px;
}

.forecast-icon {
  width: 30px;
}

.forecast-uv-value {
  width: 60px;
}

.forecast-uv-label {
  width: 80px;
  text-align: left;
}

/* Vit D and safe exposure */

#skin-type-data-container {
  align-items: center;
  flex-direction: column;
}

#skin-type-btns-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.btn-skin-type {
  margin: 0 10px;
  font-size: 40px;
}

.exposure-times {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skin-type-data {
  min-width: 300px;
  max-width: 375px;
  font-size: 16px;
  font-family: "Overpass", sans-serif;
  font-weight: 400;
  text-align: left;
}

.skin-type-data-value {
  font-weight: 800;
}

#data-container {
  display: none;
}
